.Header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.darkest:before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: -100px;
  z-index: -1;
  background: #1f4745;
  transform-origin: bottom left;
  -ms-transform: skew(-52deg, 0deg);
  -webkit-transform: skew(-52deg, 0deg);
  transform: skew(-52deg, 0deg);
}

.dark:before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #4daaa7;
  transform-origin: bottom left;
  -ms-transform: skew(-52deg, 0deg);
  -webkit-transform: skew(-52deg, 0deg);
  transform: skew(-52deg, 0deg);
}

.dark, .darker, .darkest {
  position: relative;
  height: 80px;
  display: inline-block;
  transform: skew(52deg);
  -webkit-transform: skewX(52deg);
}

.darkest {
  background-color: #1f4745;
  width: 25%;
}

.darker {
  text-align: center;
  background-color: #285d5b;
  width: 50%;
}

.dark {
  background-color: #4daaa7;
  width: 25%;
}

.heading {
  color: #fff;
  position: absolute;
  left: 25%;
  width: 45%;
  padding-top: 3px;
  transform: skew(-52deg);
  -webkit-transform: skewX(-52deg);
  text-decoration: none;
}

.heading h1 {
  font-size: 1.6em;
}

.heading_container {
  display: flex;
  justify-content: space-evenly;
}

.logo_border {
  width: 74px;
  height:74px;
  border: 2px solid #fff;
  padding: 5px;
}

.heading_title, .logo_border {
  display: inline-block;
}

.heading_title {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.header_regular {
  font-size: 2em;
  font-weight: 300;
}

.header_bold {
  font-size: 2em;
  font-weight: 700;
}

.header_welcome {
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: skew(-52deg);
  -webkit-transform: skewX(-52deg);
}

/* DROPDOWN */
.users_dropdown {
  position: absolute;
  left: 10%;
  top: 35%;
  font-size: 1.2em;
  color: #fff;
  transform: skew(-52deg);
  -webkit-transform: skewX(-52deg);
}

.users_dropdown:hover {
  font-weight: 700;
  cursor: pointer;
}

.users_dropdown strong {
  font-weight: 700;
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 80px;
}

.dropdown_headings {
  display: grid;
  grid-template-columns: 17% 17% 20% 10% 17%;
  padding: 0 0 0 5%;
  height: 65px;
  color: white;
  background-color: #3F8F8B;
  font-size: 1em;
  font-weight: 600;
  align-items: center;
}

.check_overflow {
  overflow: auto;
  max-height: 82vh;
}

.check_overflow::-webkit-scrollbar {
  display: none;
}

/* MEDIA QUERIES */
/* HEIGHT */

@media only screen and (min-height: 801px) {
  .check_overflow {
    max-height: 80vh;
  }
}