.Sidebar {
  background: linear-gradient(to top, #4daaa7 -150%, #000000 150%);
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.Sidebar a {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 300;
  transition: 0.3s ease-in;
}

.Sidebar a:hover {
  background-color: #285d5b;
}

.Sidebar .dashboard_link {
  font-size: 1.7em;
}

.Sidebar .logout:hover {
  cursor: pointer;
}

.Sidebar .dashboard_link img {
  color: white;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 5%;
  left: 1.6%;
  color: #fff;
  z-index: 0;
}

@media only screen and (max-width: 1366px) {
  footer {
    font-size: 0.8em;
  }

  .Sidebar a {
    font-size: 1.2em;
    height: 70px;
  }

}