.UserView {
  display: grid;
  grid-template-columns: 20% auto;
}

.userview_container {
  display: grid;
  grid-template-columns: 23.875% 23.875% 23.8755% 23.875%;
  column-gap: 1.5%;
  row-gap: 2%;
  grid-template-rows: 19% 25% 25% 25%;
  padding: 1.5%;
  background-color: #EBF0F1;
  margin-top: 100px;
}

.topbar_container {
  grid-column: 1 / span 4;
}

.profile_container {
  grid-row: 2 / span 3;
}

.package_bar_container {
  display: grid;
  grid-template-rows: 31.3% 31.3% 31.3%;
  grid-template-columns: 31.86% 31.86% 31.86%;
  row-gap: 2.9%;
  column-gap: 2.2%;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
}

.block_one, .block_two, .block_three, .block_four, .block_five, .block_six, .block_seven, .block_eight, .block_nine {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 10px -10px #777;
  padding: 5%;
}

.block_one img, .block_two img, .block_three img {
  width: 70%;
}

.block_one, .block_two, .block_three {
  display: grid;
  align-items: center;
}

.block_one .upper, .block_two .upper, .block_three .upper, .block_one .lower, .block_two .lower, .block_three .lower {
  display: grid;
  grid-template-columns: 40% 15% 40%;
}

.block_one .lower p:nth-child(2), .block_two .lower p:nth-child(2), .block_three .lower p:nth-child(2) {
 grid-column: 3 / span 1;
 font-size: 1.1em;
 font-weight: 600;
}

.block_one .upper p:nth-child(3), .block_two .upper p:nth-child(3), .block_three .upper p:nth-child(3) {
  font-size: 1.1em;
  font-weight: 600;
}

.block_one h5, .block_four h5, .block_seven h5 {
  font-size: 1.2em;
}

.block_five p, .block_six p, .block_eight p, .block_nine p {
  text-align: center;
  margin-top: 27%;
  color: grey;
}

.block_four p, .block_seven p {
  text-align: center;
  margin-top: 17%;
  color: grey;
}

.block_four h5, .block_seven h5 {
  color: grey;
}