.AdminDashboard {
  display: grid;
  grid-template-columns: 20% auto;
}

.admin_dashboard_container {
  display: grid;
  grid-template-columns: 32.3% 32.3% 32.3%;
  grid-template-rows: 32% 32% 32%;
  row-gap: 2.5%;
  column-gap: 1.5%;
  background-color: #F3F3F5;
  padding: 1.5%;
  margin-top: 100px;
}

.admin_dashboard_container .packages_bar {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  height: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 7px 10px -10px #777;
}

.packages_bar h3 {
  font-size: 1.8em;
  margin-bottom: 3%;
}

.packages_container {
  display: grid;
  height: 100%;
  grid-template-rows: 28.6% 28.6% 28.6% 14%;
}

.reinvest_block h5 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 4%;
}